@import '../abstracts/_variables';

.dropdown {
  position: absolute;
  top: 115%;
  left: 5px;
  background-color: white;
  z-index: 99;
  display: none;
  border-radius: 4px;

  &.show {
    display: block;
  }

  li {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 12px 15px;
    &:hover {
      background-color: $hover-bg;
    }

    .icon {
      object-fit: contain;
      margin-right: 5px;
    }
  }

  p {
    white-space: nowrap;

    &:hover {
      background-color: $hover-bg;
    }
  }
}
