@mixin login-half {
  width: 50%;
  display: flex;
  align-items: center;
}

@mixin text-input {
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid rgba(84, 95, 125, 0.15);
  outline: none;
  height: 100%;
  width: 100%;
}

@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
