@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&family=Work+Sans:wght@200;400&display=swap');

$primary-text: #39CDCC;
$secondary-text: #213F7D;
$light-text: #6f7fA1;
$title-text: #545f7d;
$primary-btn: #39CDCC;
$danger-btn: #E4033B;
$hover-bg: hsla(180, 60%, 94%, 1);
